In [4]:
t=(1,2,3)
my_list=[1,2,3]

In [5]:
t

(1, 2, 3)

In [6]:
len(t)

3

In [10]:
# t[0]=3 not support item assigment by tuples

In [13]:
my_list[1]="change item assignment support"

In [14]:
my_list

[1, 'change item assignment support', 3]

In [15]:
t2=(1,3,True,[13,4],{"name":"john"})

In [16]:
t2

(1, 3, True, [13, 4], {'name': 'john'})

In [17]:
t[0]

1

In [21]:
for value in t2:
    print(f"values:{value}")

values:1
values:3
values:True
values:[13, 4]
values:{'name': 'john'}

### sets

In [25]:
my_set = set((1,2,4,5,5))

In [26]:
my_set

{1, 2, 4, 5}

In [27]:
my_set = set([1,2,4,5,5])

In [28]:
my_set

{1, 2, 4, 5}

In [29]:
set(['Jane', 'Jack', 'Susan', 'Zack'])

{'Jack', 'Jane', 'Susan', 'Zack'}

In [32]:
"Jana" in set(['Jane', 'Jack', 'Susan', 'Zack'])

False

In [33]:
for value in set(['Jane', 'Jack', 'Susan', 'Zack']):
    print(value)

Jane
Jack
Zack
Susan

In [34]:
my_set.add(39)

In [35]:
my_set

{1, 2, 4, 5, 39}

In [37]:
my_set

{1, 2, 4, 5, 39}

### boolean

In [38]:
True

True

In [39]:
False

False

In [40]:
1 >10

False

In [41]:
2<5

True

In [42]:
type(True)

bool

In [43]:
b=None

In [44]:
b

In [45]:
type(b)

NoneType