# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a % 2 ==0 and b% 2==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    first,second = text.split(' ')
    return first[0] == second[0]

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 ==20:
        return True
    else:
        return False

In [11]:
# Check
makes_twenty(20,10)

True

In [12]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [21]:
def old_macdonald(name):
    return (name[0:3]).capitalize() + (name[3:]).capitalize()

In [24]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [45]:
def master_yoda(text):
    ar = (text.split(' '))
    ar.reverse()
 
    return " ".join(ar)

In [46]:
# Check
master_yoda('I am home')

'home am I'

In [47]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [94]:
def has_33(nums):
    for x in range(0,len(nums)-1):
       if nums[x]==3 and nums[x+1] ==3:
           return True
    return False

In [95]:
# Check
has_33([1, 3, 3])

True

In [96]:
# Check
has_33([1, 3, 1, 3])

False

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [119]:
def paper_doll(text):
    if(len(text)==1):
        return text*3
    
    return text[0]*3 + paper_doll(text[1:])

In [118]:
# Check
paper_doll('Hello')

Hello
ello
llo
lo
o

'HHHeeellllllooo'

In [120]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [36]:
def my_fun(val):
    return (val**2)
a = map(my_fun,range(10))

In [37]:
numbs = list(a)
numbs

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
def filter_fun(num):
   return  num > 3
    
filt= filter(filter_fun, numbs)   
list(filt)

[4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
numbs
list(map(lambda x: x+1000, numbs))

[1000, 1001, 1004, 1009, 1016, 1025, 1036, 1049, 1064, 1081]

In [76]:

name =10
def nest_varable():
 global name
 name=20

In [78]:
print(name)

10

In [108]:
def fname():
   
    name=30
    print(name)
    if True:
        name=300
    print(name)
fname()

30
300

## Great Job!