In [2]:
import datetime

In [10]:
a=datetime.date(12,11,4)
b= datetime.date(13,11,4)

In [12]:
result = a-b

In [18]:
abs(result.days)

365

In [24]:
# time 
t1= datetime.time(12,54,44)
t2= datetime.time(13,54,55)

In [28]:
print(t1)

12:54:44

In [37]:
t1= datetime.datetime.today()
t2 = datetime.datetime.today()

In [42]:
print(datetime.datetime.today())
print(t1-t2)

2024-08-30 18:57:46.363785
-1 day, 23:59:59.999702

In [47]:
t5 = datetime.datetime(2024,12,12,14)
t6 = datetime.datetime(2024,12,12,15)

In [50]:
result = t6- t5

In [54]:
print(result)

1:00:00

In [58]:
datetime.datetime.now()

datetime.datetime(2024, 8, 30, 19, 9, 35, 183361)

In [61]:
create_At = datetime.datetime.today()

In [63]:
create_At

datetime.datetime(2024, 8, 30, 19, 10, 33, 675245)

In [70]:
create_At.strftime('%x %X')

'08/30/24 19:10:33'