# Python Statements

In [4]:
if 4 < 10:
    print("Conducation is true")

Conducation is true

In [10]:
bird_hungry = True
if bird_hungry:
    print("FEED BIRD!!!")
else:
    print('NOT FEED BIRD!!!')

FEED BIRD!!!

In [15]:
student_name="Jose"
if student_name == "John":
    print(f"Hello {student_name}")
elif student_name == "Jose":
    print(f"Hello, {student_name}")
else:
    print("student is in present")

Hello, Jose

### for loop in python

In [25]:
num_list = [1,3,4,55,6,7,66]

In [27]:
for value in num_list:
    print("number: {}".format(value))

number: 1
number: 3
number: 4
number: 55
number: 6
number: 7
number: 66

In [29]:
# print only even number from the list
for value in num_list:
    if(value % 2 == 0):
        print(f"Number {value} is even!!!")
    else:
        print(f"Number {value} not even")

Number 1 not even
Number 3 not even
Number 4 is even!!!
Number 55 not even
Number 6 is even!!!
Number 7 not even
Number 66 is even!!!

In [30]:
list_sum = 0
for value in num_list:
    list_sum = list_sum + value
print(f"Total sum of all number: {list_sum}")

Total sum of all number: 142

In [33]:
for letter in "helllo python!!":
    print(letter)

h
e
l
l
l
o

p
y
t
h
o
n
!
!

In [34]:
my_list_two = [(1,3),(4,5),(5,7),(6,7)]

In [45]:

for num,a in enumerate(my_list_two):
    print(num,a[0])

0 1
1 4
2 5
3 6

In [47]:
my_dict_list = {
    "student":["a","b","c"],
    "class":"10"
}

In [48]:
my_dict_list

{'student': ['a', 'b', 'c'], 'class': '10'}

In [51]:
for item in my_dict_list.items():
    print(item)

('student', ['a', 'b', 'c'])
('class', '10')

In [56]:
for item_name, item_value in my_dict_list.items():
    print(item_name, item_value)

student ['a', 'b', 'c']
class 10

### while loop in python

In [60]:
count = 0
while (count < 4):
    print(count)
    count= count + 1
else:
    print("out of loop!!! conduction is false!!!")

0
1
2
3
out of loop!!! conduction is false!!!

In [65]:
# break keyword 
for value in "A"*4:
    print("one time")
    break

one time

In [76]:
# continue skip the iteration
for value in "A"*4:
    print("one time")
    continue

one time
one time
one time
one time

In [81]:
# use of continue keyword
# i want to skip letter m
name= " Sammy"
for letter in name:
    
    if(letter == "m"):
        continue
    print(letter)

S
a
y

### usefull operators

In [91]:
# range enumerate zip in(list,dict,string,tuples,etc) min max random shiffue randint

In [96]:

list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
len(range(0,10))

10

In [98]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [100]:
for value in range(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

In [101]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [103]:
for value in enumerate(range(10)):
    print(value)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)

In [108]:
# zip is used to zip two list etc
list_one = [1,2,4]
list_two = ["a","b","c","d"]

In [111]:
list(zip(list_one,list_two,range(5)))

[(1, 'a', 0), (2, 'b', 1), (4, 'c', 2)]

In [112]:
# in is used for search the value
1 in list_one

True

In [113]:
"a" in list_one

False

In [114]:
"a" in list_two

True

In [115]:
1 in range(10)

True

In [116]:
1 in set([1,3])

True

In [118]:
3 in (1,4,5,3)

True

In [121]:
"book" in "i have some books"

True

In [122]:
min(list_one)

1

In [123]:
min(list_two)

'a'

In [124]:
max(list_one)

4

In [139]:
from random import shuffle, randint
shuffle(list_one)

In [140]:
list_one

[1, 4, 2]

In [147]:
randint(0,10) #include both the side

8

In [150]:
# input value in python
result = int(input("enter you number:"))

In [151]:
result

134

In [157]:
# list comprehension

In [160]:
my_varable= "hello"
my_array = []
for value in my_varable[::-1]:
    my_array.append(value)

In [161]:
my_array

['o', 'l', 'l', 'e', 'h']

In [172]:
new_list = [num  for num in range(11) ]

In [173]:
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [179]:
new_list_two= [num + b  for num in range(4)  for b in range(4)]

In [180]:
new_list_two

[0, 1, 2, 3, 1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6]